
/* ==========================================================================
   Custom styles
   ========================================================================== */

/* Default styling */

htm, body, div {
    background: none;
}

html {
    background: black;
    color: white;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 1px;
    font-weight: 300;
    padding: 20px;
}

.container-fluid {
    padding: 0;
    margin-left: 0rem;
}

* {margin: 0; padding: 0;}

/* Background Video / Image */

.background-image {
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.28;
    image-fit: fill;
}

.background-image.right {
    left: auto;
    right: 0;
}

.static-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    opacity: 0.5;
}



/* Links */

a {
    text-decoration: underline;
    color: white;

}

a:hover {
    text-decoration: none;
    color: white;
    text-shadow: 0rem 0rem 20rem #00a3ff;
    cursor: hand;
}


/* Headlines */

h1 {
    font-size: 40rem;
    font-weight: 300;
    margin: 40rem 0rem 24rem 0rem;
}

h1 a {
    text-decoration: none;
}

p.sitedescription {
    font-size: 20rem;
    font-weight: 200;
    margin-left: 0rem;
    margin-bottom: 30rem;
    color: white;
}

h2 {
    font-size: 0rem;
    font-weight: 300;
    margin: 24rem 0rem 10rem;
}

/* Footer */

footer {
    margin-left: 0rem;
    color: white;
    padding: 0;
}



/* Contact services */

.service {
	display: table-cell;
	height: 33%;
	height: 88rem;
    text-align: center;
    text-transform: lowercase;
    margin-left: -32rem;
    float: left;
    transition: all 0.2s;
    text-decoration: none;
    min-width: 134px;
}

.service-stop {
    clear: both;
}

.service.link:hover {
    text-shadow: 0rem 0rem 20rem #00a3ff;
    cursor: hand;
}

.service .icon {
	margin-top: 8rem;
    font-size: 28rem;
    padding-bottom: 0;
}

.service .name {
    font-size: 16rem;
    font-weight: 300;
    margin: 0;
    opacity: 0;
    transition: all 0.2s;
}

.service:hover .name {
    opacity: 1;
}

.service .description {
    font-size: 14rem;
    font-weight: 300;
    margin: 0;
    display: none;
}

.blink {
    transition: all 1s;
    opacity: 0;
    color: #00a3ff
}

.blink.active {
    text-shadow: 0rem 0rem 30rem #00a3ff;
    opacity: 1;
    color: #ffffff;
}

.blink.done {
    opacity: 1;
    color: #ffffff;
}










